@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bg-transparent {
    background-color: transparent;
  }
}

body {
  @apply bg-brand-light;
}

h1 {
  @apply font-bold text-[31px] leading-[28px] md:text-[62px] md:leading-[68px] lg:leading-[62px] lg:text-[70px];
  font-family: "Bebas Neue", sans-serif;
}

h2 {
  @apply font-bold text-[27px] leading-[31px] md:text-[50px] md:leading-[54px] lg:leading-[72px] lg:text-[60px];
  font-family: "DM Serif Display", serif;
}

h3 {
  @apply font-bold text-[17px] leading-[18px] md:text-[27px] md:leading-[31px] lg:leading-[62px] lg:text-[50px];
  font-family: "DM Serif Display", serif;
}

h4 {
  @apply font-bold text-[32px] leading-[21px] md:text-[40px] md:leading-[31px] lg:leading-[40px] lg:text-[48px];
  font-family: "Bebas Neue", sans-serif;
}

h5 {
  @apply font-bold text-[23px] leading-[28px] md:text-[29px] md:leading-[31px] lg:leading-[48px] lg:text-[38px];
  font-family: "DM Serif Display", serif;
}

p {
  @apply text-[14px] leading-[24px] md:text-[16px] md:leading-[30px] lg:text-[20px] lg:leading-[36px];
  font-family: "Lora", serif;
  /* font-family: 'Roboto', sans-serif; */
}

a {
  @apply text-[14px] leading-[24px] md:text-[16px] md:leading-[30px] lg:text-[20px] lg:leading-[36px];
}

span {
  font-family: "DM Serif Display", serif;
}

p.description-section {
  @apply mb-8 lg:mb-12 mt-8 lg:mt-12 max-w-sm md:max-w-xl lg:max-w-4xl;
}

.btn {
  @apply font-bold  rounded-2xl px-[40px] lg:px-[65px] py-2 lg:py-3 text-[16px] lg:text-[20px];
  font-family: "DM Serif Display", serif;
}

.btn.btn-lime {
  @apply bg-primary-lime transition-all duration-300 ease-in-out;
}

.btn.btn-lime:hover {
  @apply bg-primary-blue;
}

.btn.btn-border-light {
  @apply bg-transparent border-2 border-brand-light text-brand-light transition-all duration-300 ease-in-out;
}

.btn.btn-border-light:hover {
  @apply bg-primary-lime text-brand-black;
}

form {
  @apply w-full;
}

form.inline-form {
  @apply flex lg:flex-row flex-col;
}

input.form-input[type="text"] {
  @apply w-full rounded-2xl bg-brand-light text-[14px] leading-[24px] md:text-[16px] md:leading-[30px] lg:text-[20px] lg:leading-[36px] py-2 lg:py-3 px-3 lg:px-4 focus:outline-none text-brand-black;
  font-family: "Roboto", sans-serif;
}

form.inline-form > input.form-input:first-child {
  @apply rounded-l-2xl rounded-r-none;
}

form.inline-form > input.form-input {
  @apply rounded-2xl lg:rounded-none lg:mb-0 mb-2;
}

form.inline-form > input.form-input:first-child {
  @apply rounded-2xl lg:rounded-l-2xl lg:rounded-r-none;
}

form.inline-form > input.form-input:last-child {
  @apply rounded-2xl lg:rounded-r-2xl lg:rounded-l-none mb-0;
}

/* navbar */
#navbar {
  @apply w-full fixed top-0 py-8 z-30 px-4 transition-all duration-300 ease-in-out;
}

.nav {
  @apply container flex items-center justify-between;
}

.nav > .left-bar {
  @apply hidden lg:flex gap-16 w-1/3;
}

.nav > .left-bar > a {
  @apply text-brand-light;
}

.nav > .left-bar > a.active {
  @apply text-primary-lime;
}

.nav > .left-bar > a:hover {
  @apply text-primary-blue;
}

.nav > .center-bar {
  @apply flex justify-start lg:justify-center items-center w-1/2 lg:w-1/3;
}

.nav > .right-bar {
  @apply flex items-center justify-end w-1/2 lg:w-1/3;
}

/* jumbotron */
#jumbotron {
  @apply bg-jumbotron-image w-full bg-no-repeat h-fit pt-36 md:pt-44 lg:pt-48 pb-20 lg:pb-36 lg:h-fit bg-cover bg-center;
}

.jumbotron-container {
  @apply px-4 container h-fit mb-12 lg:mb-24 gap-x-0 lg:gap-x-12 flex flex-col lg:flex-row justify-between items-center;
}

.jumbotron-about {
  @apply flex flex-col justify-center items-center max-w-xs md:max-w-md lg:max-w-4xl mx-auto text-center;
}

.jumbotron-container > .left-jumbotron {
  @apply uppercase max-w-full lg:max-w-2xl w-full mb-12 lg:mb-0  lg:w-1/2  text-primary-lime;
}

.jumbotron-container > .right-jumbotron {
  @apply flex-col max-w-full lg:max-w-6xl w-full lg:w-1/2;
}

.jumbotron-container > .right-jumbotron > .bg-video {
  @apply bg-primary-lime  bg-opacity-80  w-full justify-between  flex items-end  pb-1;
}

.jumbotron-container > .right-jumbotron > .bg-video > img {
  @apply w-full h-full  object-cover object-center;
}

/* bestseller product */
#product-best {
  @apply mt-20 mb-20 lg:mb-36 lg:mt-36;
}

.product-best-container {
  @apply container  flex flex-col justify-center items-center px-4 text-center;
}

.list-product-best-seller {
  @apply w-full grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-x-6 gap-y-4;
}

.product-best-seller {
  @apply col-span-1 flex md:flex-col flex-row;
}

.product-best-seller:nth-child(2) {
  @apply col-span-1 lg:col-span-2;
}
.product-best-seller > .img-product {
  @apply w-1/2 md:w-full h-[135px] md:h-[289px] overflow-hidden md:h-[289px]  lg:h-[574px] hover:border-[4px] border-b-[4px] hover:rounded-full border-primary-lime;
}

.product-best-seller > .img-product > img {
  @apply hover:w-[130%] hover:h-[130%]  w-full h-full object-cover object-center;
}

.product-best-seller > .deskripsi-best-product {
  @apply leading-[1px] w-1/2 md:w-full flex md:flex-col -mt-2 md:mt-4 flex-row justify-center items-center;
}

.product-best-seller > .deskripsi-best-product {
  @apply leading-[1px] w-1/2 md:w-full flex md:flex-col -mt-2 md:mt-4 flex-row justify-center items-center;
}

.product-best-seller > .deskripsi-best-product  > p{
  @apply max-w-sm text-left md:text-center ml-4 md:ml-0 lg:max-w-xs  leading-[25px];
}


/* vision */
#vision {
  @apply bg-vision-image bg-center bg-cover px-4 py-6;
}

.vision-container {
  @apply container h-fit lg:h-[223px] items-center py-12  px-4 flex flex-col lg:flex-row justify-between;
}

.vision-container > h1 {
  @apply max-w-xl text-primary-lime;
}

.vision-container > h1 {
  @apply max-w-xl text-primary-lime;
}

.vision-container > h1 span {
  @apply text-primary-blue;
}

.vision-container > p {
  @apply max-w-2xl mt-4 lg:mt-0 text-center lg:text-right text-brand-light;
}

/* testimoni */
#testimoni {
  @apply mt-20 mb-20 lg:mb-56 lg:mt-36;
}

.testimoni-container {
  @apply px-4 container flex flex-col mx-auto justify-center items-center text-center;
}

.list-testimoni {
  @apply flex w-full flex-col md:flex-row  lg:w-3/4;
}

.list-testimoni > .profile-person {
  @apply w-full  md:w-1/3 bg-primary-lime p-6 pb-3 md:p-5 lg:p-6 rounded-t-2xl md:rounded-tr-none md:rounded-bl-2xl md:rounded-tl-2xl;
}

.list-testimoni > .profile-person > img{
  @apply w-full h-[210px] md:h-[188px] lg:h-[294px] object-cover object-center ;
}

.list-testimoni > .quote-person {
  @apply w-full md:w-2/3 bg-brand-black flex flex-col justify-between p-6 md:p-9 lg:p-12 rounded-b-2xl  md:rounded-bl-none  md:rounded-tr-2xl md:rounded-br-2xl text-left;
}
.list-testimoni > .quote-person > h5 {
  @apply text-brand-light;
}

.list-testimoni > .quote-person > p {
  @apply text-right text-primary-blue mt-7 md:mt-3 lg:mt-0;
}

#footer {
  @apply bg-footer-image bg-no-repeat bg-cover bg-center absolute w-full bottom-0 relative;
}

.footer-1-container {
  @apply container py-20 md:py-28 lg:py-32 lg:py-40 flex gap-12 lg:gap-20 lg:flex-row flex-col justify-between items-center;
}

.footer-1-container > .left-bar {
  @apply w-4/5 md:w-2/3 lg:w-2/4 order-last lg:order-first;
}

.footer-1-container > .right-bar {
  @apply w-4/5 lg:w-2/4;
}

.footer-2-container {
  @apply container  justify-between items-center flex flex-col lg:flex-row border-t py-8 md:py-10 lg:py-16 border-primary-blue;
}

.footer-2-container > .left-bar {
  @apply order-last lg:order-first lg:mt-0 mt-12;
}

.footer-2-container > .right-bar {
  @apply  w-1/2 flex flex-row justify-center items-center lg:justify-end gap-6 lg:gap-16;
}